* {
    margin: 5px;
    padding: 0;
  }
  
  h2 {
    text-decoration: underline;
  }
  /* 1. flex-box with centering in justify-content and align-items */
  .outer1 {
    display:flex;
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
  }
  /* 2. flex-box with margin-auto in child element */
  
  .outer2 {
    background-color: aqua;
    width: 400px;
    height: 400px;
    display: flex;
  }

  .inner2 {
    margin: auto;
  }
  
  /* 3. position with transition */
  
  .outer3 {
    background-color:brown;
    color:white;
    position: relative;
    width: 400px;
    height: 400px;
  }

  .inner3 {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }

  
  /* 4. Text-align in parent, and line-height in child */
  .outer4 {
    background-color: blueviolet;
    width: 400px;
    height: 400px;
    text-align: center;
  }
  
  .inner4 {
    line-height: 400px;
  }
  /* ---- ---- ---- ---- ---- ---- -TODO List CSS - ---- ---- ---- ---- ---- ---- ---- ---- */
  
#list-container {
  background-color: aliceblue;
  width: 300px;
}

#list-container li {
  list-style: none;
  padding: 10px 0;
  font-weight: 400;
}

#list-container li:hover {
  cursor: pointer;
}

#list-container .checked {
  text-decoration: line-through;
  color:gray
}

#list-container span:hover {
  cursor: grab;
}
